@import url('https://fonts.googleapis.com/css2?family=Mada:wght@700&family=Mulish:wght@200;500;700&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

.container {
    margin: 250px 500px;
}

.calculator {
    background-color: #534d56;
    width: 500px;
    padding: 10px 0;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 20px 20px 50px 10px #656176;
}

button {
    font-family: 'Mada', sans-serif;
    height: 110px;
    width: 110px;
    font-size: 30px;
    font-weight: bold;
    margin: 2px 0;
    border-radius: 10px;
    background-color: #F8F1FF;
    color: #302e31;
}

.digital-con {
    display: flex;
    flex-flow:  row wrap;
    width: 50px;
    height: 50px;
}

.left-Btns {
    display: flex;
    flex-flow:  column wrap;
}

.operations-con {
    display: flex;
    flex-flow:  column wrap;
    margin-left: 4px;
}

.allBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reflection-1,
.reflection-2,
.display {
    position: absolute;
}


.reflection-1,
.reflection-2 {
    background-color: #22e4cd;
    height: 90px;
    transform: skewX(-10deg);
    opacity: 0.5;
    margin-top: 5px;
}

.reflection-1 {
    margin-left: 80px;
    width: 50px;
}

.reflection-2 {
    margin-left: 140px;
    width: 30px;
}

.display {
    background-color: #1B998B;
    height: 90px;
    width: 440px;
    border-radius: 5px;
    border: 5px inset #656176;
    position: absolute;
}

.borderDisp {
    height: 100px;
    width: 450px;
    border-radius: 5px;
    border: 5px solid #c5c3ca;
    margin: 30px auto;
    margin-top: 35px;
    position: relative;
}

.mini-squares-top {
    height: 20px;
    width: 100px;
    float: right;
    margin-right: 25px;
    display: flex;
}

.mini-squares-top div {
    background-color: #302e31;
    border: 2px solid #534d56;
    flex: 1 1 0;
}